/*-------------------footer-------------------*/

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-color);
    justify-content: center;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: 2px solid var(--hyper-primary);
    border-top: 0px;
    padding: 0.438rem var(--padding-rl) 0.625rem var(--padding-rl);
    font-size: 0.75rem;
    color: var(--hyper-primary);
}

.footer > * {
    opacity: 0.2;
}

.footer img {
    height: 2.083em;
}